USE [master]
GO
/****** Object:  Database [FloridaIguanaTrackerDB]    Script Date: 12/4/2020 11:57:57 PM ******/
CREATE DATABASE [FloridaIguanaTrackerDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'FloridaIguanaTrackerDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\FloridaIguanaTrackerDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'FloridaIguanaTrackerDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\FloridaIguanaTrackerDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [FloridaIguanaTrackerDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [FloridaIguanaTrackerDB]
GO
/****** Object:  Table [dbo].[Iguanas]    Script Date: 12/4/2020 11:57:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Iguanas](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[DatePosted] [datetime] NOT NULL,
	[Image] [varbinary](max) NULL,
	[Coordinates] [geography] NULL,
	[City] [varchar](50) NOT NULL,
	[State] [varchar](50) NOT NULL,
	[IP_Address] [varchar](max) NULL,
	[Description] [varchar](max) NULL,
 CONSTRAINT [PK_Iguanas] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
USE [master]
GO
