
@{
    ViewData["Title"] = "About";
}

<h1>About</h1>

<p>Since the 1960s, iguanas have been popping everywhere in South Florida.  Sometimes they're great to see, but often times, they can be a big problem.
    This app allows users to report sightings to this site.  They take a picture on their mobile device, post it, and it'll be added to the database.
    Feel free to post on sightings here.</p>