
@{
    ViewData["Title"] = "About";
}

<h1>About</h1>
<div>
	<p>
		Since the 1960s, iguanas have been popping everywhere in South Florida.  Sometimes they're great to see, but often times, they can be a big problem.
		This app allows you to report sightings to this site.  Just take a picture on your mobile device, post it, and it'll be added to the database.
	</p>

	<p>Just follow these simple steps:</p>
	<div class="stepsImages">
		<h4>Take a picture of the iguana.</h4>
		<img src="~/images/Take-Picture-Step.jpg" />

		<h4>Select the image and upload it to the form.</h4>
		<img src="~/images/Upload-step.jpg" />

		<h4>Then click on the upload button.</h4>
		<img src="~/images/Submit-buttons.jpg" />
	</div>
</div>
