@model IguanaTracker.Data.Data.Iguana

@{
    ViewData["Title"] = "AddSighting";
}

<script type="text/javascript">
			navigator.geolocation.getCurrentPosition(showPosition, positionError);

			function showPosition(position) {
				var coordinates = position.coords;

				//Add position coordinates for the location of iguanas
				$("#Latitude").val(coordinates.latitude);
				$("#Longitude").val(coordinates.longitude);
			}

			function positionError(position) {
				alert("Oops!  Error:  " + position.code);
			}
</script>

<h1>Add Sighting</h1>

<h4>Iguana</h4>
<hr />
<div class="row">
	<div class="col-md-4">
		@*add the class enctype="multipart/form-data" to ensure that the file from the input control is read*@
		<form asp-action="AddSighting" enctype="multipart/form-data">
			<div asp-validation-summary="ModelOnly" class="text-danger"></div>
			<div class="form-group">
				<label>Photo of Iguana</label>
				<input type="file" asp-for="_ImageData" class="form-control" accept="image/*" />
				<span asp-validation-for="_ImageData" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="City" class="control-label"></label>
				<input asp-for="City" class="form-control" />
				<span asp-validation-for="City" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="State" class="control-label"></label>
				<input asp-for="State" class="form-control" />
				<span asp-validation-for="State" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="Description" class="control-label"></label>
				@Html.TextAreaFor(m => m.Description, new { @class = "form-control" })
				<span asp-validation-for="Description" class="text-danger"></span>
			</div>
			<div class="form-group">
				<input type="submit" value="Create" class="btn btn-primary" />
			</div>
			@Html.HiddenFor(m => m.Latitude)
			@Html.HiddenFor(m => m.Longitude)
		</form>
	</div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
