
@{
    ViewData["Title"] = "Companies";
}

<h1>Companies</h1>

<p>Here are the list of organizations to contact and report any sightings.</p>

<div id="companiesList container">
	<div class="row">
		<div id="NexusNuisance" class="company col-xs-4" aria-label="link to Nuissance Animal Services page">
			<a href="https://nexusnuisanceanimalservices.com/">
				<img src="~/images/Nexus Nuisance Animal Services.png" alt="Nexus Nuisance Animal Services"/>
			</a>
		</div>
		<div id="AnimalControlSolutions" class="company col-xs-4" aria-label="link to Animal Control Solutions page">
			<a href="https://www.animalcontrolsolutions.com/animals/iguana-control.html">
				<img src="~/images/Animal Control Solutions.png" alt="Animal Control Solutions"/>
			</a>
		</div>
		<div id="IguanaTrackers" class="company col-xs-4" aria-label="link to Iguana Trackers Facebook page">
			<a href="https://www.facebook.com/IguanaTrackers">
				<img src="~/images/Iguana Trackers.png" alt="Iguana Trackers Logo"/>
			</a>
		</div>
	</div>
</div>