@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
	<img role="img" aria-label="Iguana Tracker Logo for the main page" alt="Iguana Tracker Logo" src="~/images/Iguana-Tracker-Logo.png" />
    <h1 class="display-4">Welcome to Iguana Tracker</h1>
    <h3>If you found iguanas in Florida, send a sighting report here.</h3>
</div>
