@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>

<p>
    This application uses your device's geolocation to track where you reported the sighting, but it will store your personal iformation like your ip address.
</p>