@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>

<p>
    This application uses your device's geolocation to track where you reported the sighting.  However, it doesn't keep track of your city and state, 
    so you'll have to enter it manually as you fill out the add-sighting form.
</p>