<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="description" content="Florida Iguana Tracker">
	<meta name="keywords" content="Iguana, Tracking, Tracker, Florida, photos, locations">
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	@if(@ViewData["Title"] != null){
		<title>@ViewData["Title"] - Florida Iguana Tracker</title>
	}
	else{
		<title>Florida Iguana Tracker</title>
	}
	<link runat="server" rel="shortcut icon" href="IguanaTrackerIcon.ico" type="image/x-icon" />
	<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
	<link rel="stylesheet" href="~/css/site.css" />
	<link href="~/lib/font-awesome/css/fontawesome.css" rel="stylesheet" />
	<link href="~/lib/font-awesome/css/all.css" rel="stylesheet" />
</head>
<body>
	<header>
		@*class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3"*@
		<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light mb-3">
			<div class="container">
				<a role="img" aria-label="Iguana Tracker Logo and link to main page" class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
					<img class="img-fluid" src="~/images/Iguana-Tracker-Logo-2-338-x-81.png" alt="Iguana Tracker Logo" />
				</a>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
						aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
					<ul class="navbar-nav flex-lg-grow-0">
						<li aria-label="Link to home page" class="nav-item">
							<a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index"><b>Home</b></a>
						</li>
						<li aria-label="Link to sightings page" class="nav-item">
							<a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Sightings"><b>Sightings</b></a>			
						</li>
						<li aria-label="Dropdown menu linking to other pages" class="nav-item dropdown">
							<a class="nav-link text-dark dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								<b>About </b>
								@*<i class="fa fa-caret-down"></i>*@
							</a>
							<div class="dropdown-menu" aria-labelledby="navbarDropdown">
								<a class="dropdown-item text-dark" aria-label="Link to about page" asp-area="" asp-controller="Home" asp-action="Instructions"><b>Instructions</b></a>
								<a class="dropdown-item text-dark" aria-label="Link to companies page" asp-area="" asp-controller="Home" asp-action="Companies"><b>Companies</b></a>
							</div>
						</li>
						<li aria-label="Link to privacy page" class="nav-item">
							<a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy"><b>Privacy</b></a>
						</li>
					</ul>
				</div>
			</div>
		</nav>
	</header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2020 - IguanaTracker - James Zacka - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
	<script src="~/lib/font-awesome/js/fontawesome.js"></script>
	<script src="~/lib/font-awesome/js/all.js"></script>
@await RenderSectionAsync("Scripts", required: false)
</body>
</html>
